In [ ]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.6-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.6

In [ ]:
from ucimlrepo import fetch_ucirepo
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import numpy as np
import pandas as pd

# Fetch dataset
predict_students_dropout_and_academic_success = fetch_ucirepo(id=697)

# Data (as pandas dataframes)
X = predict_students_dropout_and_academic_success.data.features
y = predict_students_dropout_and_academic_success.data.targets

# Get feature names from metadata
feature_names = predict_students_dropout_and_academic_success.metadata.features

# Create dataframe for X and y
df = pd.DataFrame(data=X, columns=feature_names)
df['Target'] = y  # Adding the target variable to the dataframe

#make a copy of the dataframe called df2 which will be modified
df2 = df.copy()
print(df2)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

      Marital Status  Application mode  Application order  Course  \
0                  1                17                  5     171
1                  1                15                  1    9254
2                  1                 1                  5    9070
3                  1                17                  2    9773
4                  2                39                  1    8014
...              ...               ...                ...     ...
4419               1                 1                  6    9773
4420               1                 1                  2    9773
4421               1                 1                  1    9500
4422               1                 1                  1    9147
4423               1                10                  1    9773

      Daytime/evening attendance  Previous qualification  \
0                              1                       1
1                              1                       1
2                              1                       1
3                              1                       1
4                              0                       1
...                          ...                     ...
4419                           1                       1
4420                           1                       1
4421                           1                       1
4422                           1                       1
4423                           1                       1

      Previous qualification (grade)  Nacionality  Mother's qualification  \
0                              122.0            1                      19
1                              160.0            1                       1
2                              122.0            1                      37
3                              122.0            1                      38
4                              100.0            1                      37
...                              ...          ...                     ...
4419                           125.0            1                       1
4420                           120.0          105                       1
4421                           154.0            1                      37
4422                           180.0            1                      37
4423                           152.0           22                      38

      Father's qualification  ...  Curricular units 2nd sem (credited)  \
0                         12  ...                                    0
1                          3  ...                                    0
2                         37  ...                                    0
3                         37  ...                                    0
4                         38  ...                                    0
...                      ...  ...                                  ...
4419                       1  ...                                    0
4420                       1  ...                                    0
4421                      37  ...                                    0
4422                      37  ...                                    0
4423                      37  ...                                    0

      Curricular units 2nd sem (enrolled)  \
0                                       0
1                                       6
2                                       6
3                                       6
4                                       6
...                                   ...
4419                                    6
4420                                    6
4421                                    8
4422                                    5
4423                                    6

      Curricular units 2nd sem (evaluations)  \
0                                          0
1                                          6
2                                          0
3                                         10
4                                          6
...                                      ...
4419                                       8
4420                                       6
4421                                       9
4422                                       6
4423                                       6

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                       0                          0.000000
1                                       6                         13.666667
2                                       0                          0.000000
3                                       5                         12.400000
4                                       6                         13.000000
...                                   ...                               ...
4419                                    5                         12.666667
4420                                    2                         11.000000
4421                                    1                         13.500000
4422                                    5                         12.000000
4423                                    6                         13.000000

      Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                  0               10.8
1                                                  0               13.9
2                                                  0               10.8
3                                                  0                9.4
4                                                  0               13.9
...                                              ...                ...
4419                                               0               15.5
4420                                               0               11.1
4421                                               0               13.9
4422                                               0                9.4
4423                                               0               12.7

      Inflation rate   GDP    Target
0                1.4  1.74   Dropout
1               -0.3  0.79  Graduate
2                1.4  1.74   Dropout
3               -0.8 -3.12  Graduate
4               -0.3  0.79  Graduate
...              ...   ...       ...
4419             2.8 -4.06  Graduate
4420             0.6  2.02   Dropout
4421            -0.3  0.79   Dropout
4422            -0.8 -3.12  Graduate
4423             3.7 -1.70  Graduate

[4424 rows x 37 columns]

In [ ]:
#K nearest means classification
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd
from ucimlrepo import fetch_ucirepo


# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(df2.drop('Target', axis=1), df2['Target'], test_size=0.2, random_state=42)


# Initialize K-nearest neighbors classifier with k=5
knn = KNeighborsClassifier(n_neighbors=5)

# Train the classifier
knn.fit(X_train, y_train)

# Predict on the test set
y_pred = knn.predict(X_test)

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
# Evaluate the classifier

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy of KNN:", accuracy)

# Get classification report
print("\nEvaluation of KNN Classifier with Neighbours = 5")
print(classification_report(y_test, y_pred))

Accuracy of KNN: 0.6090395480225989

Evaluation of KNN Classifier with Neighbours = 5
              precision    recall  f1-score   support

     Dropout       0.66      0.56      0.60       316
    Enrolled       0.36      0.26      0.31       151
    Graduate       0.64      0.77      0.70       418

    accuracy                           0.61       885
   macro avg       0.55      0.53      0.54       885
weighted avg       0.60      0.61      0.60       885

/usr/local/lib/python3.10/dist-packages/ipykernel/ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [ ]:
#neighbours 1 - KNN: 0.5649717514124294
#neighbours 2 - KNN: 0.5288135593220339
#neighbours 3 - KNN: 0.5988700564971752
#neighbours 4 - KNN: 0.5853107344632769
#neighbours 5 - KNN: 0.6090395480225989
#neighbours 6 - KNN: 0.6033898305084746
#neighbours 7 - KNN: 0.5966101694915255